@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');
:root{
    --primary-color: #96BB7C;
    --text-color: #848282;
    --title-color:#184D47;
    --body-color: #F9F9F9;
    --hover-btn: #7d9b67;
}
*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: Lato;
    background-color: var(--body-color);
}
.login-card{
    padding: 24px;
    width: 560px;
    margin-top: 5rem;
    border-radius: 6px;
    border:1px solid rgb(194, 192, 192);
    box-shadow: 1px 1px 5px 0px #838383;
}
.btn-custom{
    background-color: var(--primary-color);
    color: white;
    border-color: var(--primary-color);
}
.btn-custom:hover{
    color: white;
    background-color: var(--hover-btn);
}
.btn-signup{
    text-decoration: none;
}
.btn-signup:hover{
    color: var(--primary-color);
}
.footer{
    background-color: var(--primary-color);
    padding: 10px 10px; 
}
@media (max-width: 768px) {
    .login-card{
        max-width: 560px;
        border: 0px solid white;
        box-shadow: 0px 0px 0px 0px white;
    }

    
}